.footerComponents{
    border-top:2px solid rgb(37, 24, 17);
      background-color: rgba(37, 24, 17, 0.8);
      background-image: url('/Assets/image/index/backgrounds/footerBackground.jpg');
      background-size: cover;
      background-attachment: fixed;
       background-blend-mode: multiply;
  }
.NavBarComponents{
    border-bottom: 2px solid #F04B20;
    background: #010101;
    background: linear-gradient(36deg, rgb(1, 1, 1) 0%, rgb(3, 3, 3) 100%) !important;
    text-shadow: none;
}
.nav-link:hover {
  color: #e68021 !important;
}
.sectionMainComponents{
  width: 100%;
  min-height: 100vh;
}