.footerComponents{
    border-top:2px solid rgb(37, 24, 17);
      background-color: rgba(37, 24, 17, 0.7);
      background-image: url('https://static.vecteezy.com/system/resources/previews/000/517/966/non_2x/vector-abstract-background-dark-and-black-overlaps-007.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-blend-mode: multiply;
  }
.NavBarComponents{
    border-bottom: 2px solid #9b948d;
    background: rgb(24, 26, 55);
    background: linear-gradient(36deg, rgb(33, 33, 34) 0%, rgb(9, 10, 10) 100%) !important;
}
.sectionMainComponents{
  width: 100%;
  min-height: 100vh;
}