/* Estilo para a barra de rolagem vertical */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  

  ::-webkit-scrollbar-track { /* Cor de fundo da barra de rolagem*/
    background-color: #dfdfdf;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(196, 133, 62, 0.9) 0%, rgba(251, 54, 64, 0.8) 100%); /* Cor da barra de rolagem */
    border-radius: 3px; /* Bordas arredondadas */
  }
  
  /* Estilo para a barra de rolagem horizontal (caso necessário) */
  ::-webkit-scrollbar-horizontal {
    height: 6px; /* Altura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: #6b4d4d; /* Cor da barra de rolagem horizontal */
  }